/*Pied de page*/
#footer{
    background-color: var(--grisCharte);
}

#footer .piedPage {
    display: flex;
    margin-top: 80px;
    padding: 40px 0;
}


#footer .piedPage .menuPP{
    margin: 0 0 0 60px;
    flex: auto;
}

.menuPP h2 {
    font-size: 1em;
}

.menuPP P {
    font-size: 0.8em;
}