/*Variables*/

:root{
    --width-max-image-desc: 320px;
    --bleuCharte: #0065FC;
    --bleuClairCharte: #DEEDFF;
    --grisCharte: #F2F2F2; 
}

/*En-tête*/

#header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#header #logo{
    display: block;
}

#header #logo>figure{
    margin: 0;
}

#header #top-header .menu .liens ul{
    display: flex;
    margin: 0px;
}

#header #top-header .menu .liens ul li{
    list-style: none;
}

#header #top-header .menu .liens .lienMenu1{
    color: var(--bleuCharte);
    font-weight: 500;
}

#header #top-header .menu .liens ul li a, 
#header #top-header .menu .inscription p a{
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    color: black;
}

#header #top-header .menu .inscription p a{
    color: var(--bleuCharte);
    font-weight: bold;
}

/*Media queries*/
@media screen and (max-width: 599px){

    /*En-tête*/
    #header {
        display: block;
    }

    #header #top-header {
        width: 100%;
    }

    #header #logo{
        margin-left: 20px;
    }

    #header #top-header .menu .liens ul{
        padding: 0px;
    }

    #header #top-header .menu .liens ul li{
        text-align: center;
        width: 50%;
    }

    #header #top-header .menu .liens ul li a{
        padding-left: 0px;
        padding-right: 0px;
        display: block;
    }

    #header #top-header .menu .liens ul li .lienMenu1 {
       padding-bottom: 10px;
       border-bottom: solid 2px var(--bleuCharte);
    }

    #header #top-header .menu .liens ul li .lienMenu2 {
        padding-bottom: 10px;
        border-bottom: solid 2px var(--grisCharte);
    }

    #header #top-header .menu .liens ul li .lienMenu2:hover {
        padding-bottom: 10px;
        border-bottom: solid 2px var(--bleuCharte);
    }

     #header #top-header .menu .inscription {
        position: absolute;
        top: -30px;
        right: 0;
     }

     #header #top-header .menu .inscription p{
         margin: 0px;
     }
}

/*Media queries*/
@media screen and (min-width: 600px){

    #header #top-header {
        display: flex;
        align-items: flex-end;
    }
    
    #header #top-header .menu{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    
    #header #top-header .menu .liens ul li .lienMenu1{
        border-top: solid 2px var(--bleuCharte);
    }

    #header #top-header .menu .liens ul li .lienMenu2:hover{
        border-top: solid 2px var(--bleuCharte);
    }
    
}