/* Fonts, taille de texte générique et fond de page */

body {
    background-color: #fff;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

/*Balises génériques*/

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}

a {
    text-decoration: none;
}

section {
    margin: 40px 60px;
}

aside {
    margin: 40px 60px 40px 0;
}

.paragraphe{
    margin: 0;
}

/*Barre de recherche*/

#recherche i {
    padding: 15px;
    background-color: var(--grisCharte);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#recherche input {
    height: 42px;
    width: 180px;
    margin-left: -4px;
    border: none;
}

#recherche button { /*Bouton pour grand écran*/
    height: 42px;
    padding: 0 10px;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    background-color: var(--bleuCharte);
    color: white;
}

#recherche a{ /*icone petit écran remplace bouton*/
    display: none;
}


/*Filtres*/

#filtres {
    margin-top: 40px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#filtres p {
    font-weight: bold;
    display: flex;
    align-items: center;
}

#filtres .choix {
    display: flex;
    align-items: center;
    height: 35px;
    border: solid 3px var(--grisCharte);
    border-left: transparent;
    border-radius: 25px;
}

#filtres .choix:hover{
    background-color: #98b6cf;
}

#filtres .choix i {
    padding: 10px;
    color: var(--bleuCharte);
    border-radius: 50px;
    background-color: var(--bleuClairCharte);
}

#filtres .choix p{
    padding: 0 10px;
}

#filtres .choix .long {
    min-width: 130px;
}

/*Texte info nombre de logements trouvés*/

.paragraphe i{
    margin-left: 60px;
    margin-right: 15px;
}

.paragraphe .infoPosition{
    position: absolute;
}

/*Logements section + aside*/

#hebergements {
    display: flex;
}

/*Hébergements disponibles*/

#hebergementsDispo{
    background-color: var(--grisCharte);
}

#hebergementsDispo h2 {
    margin-left: 20px;
}

#hebergementsDispo #hotelsDispo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    min-height: 736px;
}

#hebergementsDispo #hotelsDispo .hotel{
    flex: 0 1 33.3333%;
    background-color: #fff;
    border-radius: 25px;
    max-width: var(--width-max-image-desc);
}

#hebergementsDispo #hotelsDispo .hotel a{
    padding: 5px;
    display: block;
}

#hebergementsDispo #hotelsDispo .hotel a:hover{
    background-color: #98b6cf;
}    

#hebergementsDispo #hotelsDispo .hotel .hotelImg{
    max-width: var(--width-max-image-desc);
    height: 172px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

#hebergementsDispo #hotelsDispo .hotel .hotelImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hebergementsDispo #hotelsDispo .hotel .description h3 {
    margin-left: 20px;
    color: black;
}

#hebergementsDispo #hotelsDispo .hotel .description p {
    margin-left: 20px;
    color: black;
}

#hebergementsDispo #hotelsDispo .hotel .description .note {
    padding-left: 10px;
    padding-bottom: 15px;
    margin-left: 10px;
}

#hebergementsDispo #hotelsDispo .hotel .description .note i {
    color: #0065FC;
}

#hebergementsDispo #afficherPlus{
    margin-left: 20px;
    font-size: 1em;
    font-weight: bold;
}


/*Logements les plus populaires*/

#hebergementsPop{
    background-color: var(--grisCharte);
}

#hebergementsPop #hebergementsPopTitre{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hebergementsPop #hebergementsPopTitre h2 {
    margin-left: 20px;
}

#hebergementsPop #hotelsPop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 380px;
    min-height: 736px;
    margin: 0 10px;
}
 
#hebergementsPop #hotelsPop .hotelPop {
    flex: 0 1 33.3333%;
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    max-height: 180px;
}

#hebergementsPop #hotelsPop .hotelPop:hover{
    background-color: #98b6cf;
}

#hebergementsPop #hotelsPop .hotelPop a {
    display: flex;
    padding: 5px;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopImg {
    max-width: 200px;
    max-height: 220px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip {
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip h3 {
    margin-left: 10px;
    color: black;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip p {
    margin-left: 10px;
    color: black;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip .note{
    margin-left: 10px;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip .note i {
    color: #0065FC;
}

/*Liste des activités*/

#activites{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#activites .grandFormat{
    border: solid 2px var(--grisCharte);
    border-radius: 20px;
    background-color: #fff;
    max-width: 300px;
    max-height: 450px;
}

#activites .grandFormat a{
    display: block;
}

#activites .grandFormat a:hover{
    background-color: #98b6cf;
}

#activites .grandFormat .grandeImg{
    max-width: 300px;
    height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

#activites .grandFormat .grandeImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#activites .groupePetitFormat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    max-width: 300px;
    max-height: 450px;
}

#activites .groupePetitFormat .petitFormat{
    border: solid 2px var(--grisCharte);
    border-radius: 20px;
    background-color: #fff;
    max-width: 300px;
    max-height: 210px;
}

#activites .groupePetitFormat .petitFormat a{
    display: block;
}

#activites .groupePetitFormat .petitFormat:hover{
    background-color: #98b6cf;
}

#activites .groupePetitFormat .petitFormat .petiteImg{
    max-width: 300px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

#activites .groupePetitFormat .petitFormat .petiteImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texteActivites{
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

/*Pied de page*/

#piedPage {
    display: flex;
    justify-content: space-between;
    width: 66%;
    margin: 40px 0 0 60px;
}

.menuPP h2 {
    font-size: 1em;
}

.menuPP P {
    font-size: 0.8em;
}