/* Fonts, taille de texte générique et fond de page */

body {
    background-color: #fff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    margin: 0% 1%;
}

/*Balises génériques*/

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 0.9em;
}

a {
    text-decoration: none;
}

.max-width{
    max-width: 1500px;
    margin: auto;
}

.paragraphe{
    margin: 0;
}

/*Barre de recherche*/

main .titre p{
    font-size: 1.1em;
}

#recherche {
    display: flex;
}

#recherche i {
    padding: 15px;
    background-color: var(--grisCharte);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#recherche input {
    width: 350px;
    border: none;
}

#search::placeholder {
    font-weight: bolder;
    color: #000;
    font-size: 1rem;
    opacity: 1;
}

/*Filtres*/
    #filtres {
        margin-top: 30px;
        width: 75%;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

#filtres p {
    font-weight: bold;
    display: flex;
    align-items: center;
}

#filtres .choix {
    padding: 0px 10px;
    display: flex;
    height: 46px;
    border: solid 3px var(--grisCharte);
    border-left: transparent;
    border-radius: 25px;
}

#filtres .choix:hover{
    background-color: var(--bleuCharte);
    color: #fff;
}

#filtres .choix i {
    margin-left: -10px;
    padding: 15px;
    color: var(--bleuCharte);
    border-radius: 50px;
    background-color: var(--bleuClairCharte);
}

#filtres .choix p{
    padding: 0 10px;
}

#filtres .choix .long {
    min-width: 130px;
}

/*Texte info nombre de logements trouvés*/
.paragraphe{
    position: relative;
}

.paragraphe.nb-logement{
    margin-top: 30px;
}

.paragraphe i{
    margin-right: 15px;
    padding: 9px 14px;
    border-radius: 50px;
    border: solid 1px #DDD;
    position: relative;
    top: -9px;
}

.paragraphe .infoPosition{
    font-size: 1.2em;
    position: absolute;
}

/*Hébergements disponibles*/
#hebergements{
    display: flex;
    margin-top: 30px;
}

#hebergementsDispo{
    background-color: var(--grisCharte);
}

#hebergementsDispo  h2 {
    flex-basis: 97%;
    margin: 0px;
}

#hebergementsDispo #hotelsDispo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    min-height: 736px;
}

#hebergementsDispo #hotelsDispo .hotel{
    background-color: #fff;
    border-radius: 25px;
    max-width: var(--width-max-image-desc);
}

#hebergementsDispo #hotelsDispo .hotel a{
    padding: 5px;
    display: block;
}

#hebergementsDispo #hotelsDispo .hotel a:hover{
    background-color: #98b6cf;
}    

#hebergementsDispo #hotelsDispo .hotel .hotelImg{
    height: 172px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

#hebergementsDispo #hotelsDispo .hotel .hotelImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hebergementsDispo #hotelsDispo .hotel .description h3 {
    margin-left: 20px;
    margin-bottom: 0px;
    color: black;
}

#hebergementsDispo #hotelsDispo .hotel .description p {
    margin-left: 20px;
    margin-top: 3px;
    color: black;
}

#hebergementsDispo #hotelsDispo .hotel .description .note {
    margin-bottom: 15px;
    margin-left: 20px;
}

#hebergementsDispo #hotelsDispo .hotel .description .note i {
    color: #0065FC;
}

#hebergementsDispo #hotelsDispo .hotel .description .note .greyStars {
    color: var(--grisCharte);
}

#hebergementsDispo #afficherPlus{
    flex-basis: 97%;
    font-size: 1em;
    font-weight: bold;
}


/*Logements les plus populaires*/

#hebergementsPop{
    background-color: var(--grisCharte);
}

#hebergementsPop #hebergementsPopTitre{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hebergementsPop #hebergementsPopTitre h2 {
    margin: 0px;
    padding: 20px 0px;
}

#hebergementsPop #hotelsPop {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
#hebergementsPop #hotelsPop .hotelPop {
    background-color: #fff;
    border-radius: 25px;
    height: 180px;
    width: 90%;
    margin-bottom: 25px;
}

#hebergementsPop #hotelsPop .hotelPop:hover{
    background-color: #98b6cf;
}

#hebergementsPop #hotelsPop .hotelPop a {
    display: flex;
    padding: 5px;
    height: 100%;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopImg {
    width: 130px;
    height: 170px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip .hotelPopDes {
    margin-bottom: auto;
    padding-right: 20px;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip .hotelPopDes h3 {
    color: black;
    margin: 0px;
    margin-bottom: 10px;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip .hotelPopDes p {
    color: black;
    margin: 0px;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip .note{
    margin-bottom: 20px;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip .note i {
    color: #0065FC;
}

#hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip .note .greyStars {
    color: var(--grisCharte);
}

/*Liste des activités*/

#activites{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 99%;
}

#activites .grandFormat{
    border: solid 2px var(--grisCharte);
    border-radius: 20px;
    background-color: #fff;
    width: 20%;
}

#activites .grandFormat a{
    display: block;
    width: 100%;
    height: 100%;
}

#activites .grandFormat a:hover{
    background-color: #98b6cf;
}

#activites .grandFormat .grandeImg{
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

#activites .grandFormat .grandeImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#activites .grandFormat .descriptionActivite{
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

#activites .groupePetitFormat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

#activites .petitFormat{
    border: solid 2px var(--grisCharte);
    border-radius: 20px;
    background-color: #fff;
    width: 100%;
    height: 454px;
}

#activites .groupePetitFormat .petitFormatTailleHaute{
    height: 250px;
}

#activites .groupePetitFormat .petitFormatTailleBasse{
    height: 150px;
}

#activites .groupePetitFormat .petitFormatTailleMoyenne{
    height: 200px;
}

#activites .groupePetitFormat .petitFormat a{
    display: block;
    width: 100%;
    height: 100%;
}

#activites .groupePetitFormat .petitFormat:hover{
    background-color: #98b6cf;
}

#activites .groupePetitFormat .petitFormat .petiteImg{
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

#activites .groupePetitFormat .petitFormatTailleHaute .petiteImg{
    height: 200px;
}

#activites .groupePetitFormat .petitFormatTailleBasse .petiteImg{
    height: 100px;
}

#activites .groupePetitFormat .petitFormatTailleMoyenne .petiteImg{
    height: 150px;
}

#activites .groupePetitFormat .petitFormat .petiteImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#activites .groupePetitFormat .petitFormat .descriptionActivite{
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 599px) /*Mode smartphone*/{

    h1 {
        margin-left: 20px;
        margin-right: 40px;
        font-size: 1.3em;
    }

    main .titre>p{
        margin-left: 20px;
        font-size: 1em;
    }

    /*Barre de recherche*/
    #recherche {
        margin-left: 20px;
        width: 90%;
    }

    #recherche button { /*Bouton pour grand écran*/
        display: none;
    }
    
    #recherche a{ /*icone petit écran remplace bouton*/
        height: 46px;
        color: white;
    }

    #recherche a i{
        background-color: var(--bleuCharte);
        border-radius: 15px;
    }

    /*Filtres*/
    #filtres {
        margin-left: 20px;
        width: 90%;
        height: 280px;
        font-size: 0.8em;
    }

    #filtres p {
        width: 100%;
        padding-bottom: 20px;
    }

    .paragraphe i{
        margin-left: 20px;
    }

    /*Logements section + aside*/
    #hebergements {
        flex-direction: column-reverse;
    }

    /*Hébergements disponibles*/
    #hebergementsDispo{
        background-color: #fff;
    }

    #hebergementsDispo  h2 {
        flex-basis: 90%;
        padding: 15px 0px;
    }

    #hebergementsDispo #hotelsDispo .hotel{
        flex: 0 0 100%;
        max-width: 90%;
        margin-bottom: 10px;
        box-shadow: 10px 10px 10px var(--grisCharte);
    }

    #hebergementsDispo #hotelsDispo .hotel .hotelImg{
        height: 100px;
    }

    #hebergementsDispo  #afficherPlus {
        margin-left: 20px;
    }

    /*Logements les plus populaires*/

    #hebergementsPop #hotelsPop {
        min-height: 680px;
    }

    #hebergementsPop #hotelsPop .hotelPop .hotelPopDescrip .hotelPopDes h3 {
        font-size: 1em;
    }

    /*Liste des activités*/
    #activites{
        flex-direction: column;
    }

    .activitesMars {
        margin-left: 20px;
        margin-top: 40px;
    }

    #activites .grandFormat{
        width: 90%;
        margin: auto;
        height: 200px;
        margin-bottom: 10px;
        box-shadow: 10px 10px 10px var(--grisCharte);
    }

    #activites .grandFormat .grandeImg{
        height: 150px;
    }

    #activites .groupePetitFormat {
        width: 90%;
        margin: auto;
        height: 420px;
    }

    #activites .petitFormat{
        margin-bottom: 10px;
        box-shadow: 10px 10px 10px var(--grisCharte);
    }

    #activites .groupePetitFormat .petitFormatTailleBasse,
    #activites .groupePetitFormat .petitFormatTailleMoyenne,
    #activites .groupePetitFormat .petitFormatTailleHaute {
        height: 200px;
    }

    #activites .groupePetitFormat .petitFormatTailleBasse .petiteImg,
    #activites .groupePetitFormat .petitFormatTailleMoyenne .petiteImg,
    #activites .groupePetitFormat .petitFormatTailleHaute .petiteImg {
        height: 150px;
    }

}

/*Media queries*/
@media screen and (min-width: 600px) and (max-width: 1023px) /*Mode tablette*/{

    /*Barre de recherche*/
    #recherche button { /*Bouton pour grand écran*/
        padding: 0 10px;
        margin-left: -5px;
        border-radius: 0 10px 10px 0;
        background-color: var(--bleuCharte);
        color: white;
    }
    
    #recherche a{ /*icone petit écran remplace bouton*/
        display: none;
    }

    /*Logements section + aside*/
    #hebergements {
        justify-content: space-between;
        margin-bottom: 80px;
    }

    /*Hébergements disponibles*/
    #hebergementsDispo{
        flex: 0 0 58%;
    }

    #hebergementsDispo #hotelsDispo .hotel{
        flex: 0 0 50%;
    }

    /*Logements les plus populaires*/
    #hebergementsPop{
        flex: 0 0 38%;
    }

    #hebergementsPop #hotelsPop {
        min-height: 736px;
    }

}

/*Media queries*/
@media screen and (min-width: 1024px) /*Mode desktop*/{

    /*Barre de recherche*/
    #recherche button { /*Bouton pour grand écran*/
        padding: 0 10px;
        margin-left: -5px;
        border-radius: 0 15px 15px 0;
        background-color: var(--bleuCharte);
        color: white;
    }
    
    #recherche a{ /*icone petit écran remplace bouton*/
        display: none;
    }

    /*Logements section + aside*/
    #hebergements {
        justify-content: space-between;
        margin-bottom: 80px;
    }
    
    /*Hébergements disponibles*/
    #hebergementsDispo{
        flex: 0 0 68%;

    }

    #hebergementsDispo #hotelsDispo .hotel{
        flex: 0 0 33.3333%;
    }

    /*Logements les plus populaires*/
    #hebergementsPop{
        flex: 0 0 28%;
    }
}