/* Fonts, taille de texte générique et fond de page */

body {
    background-color: #fff;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

/*Media queries*/

@media screen and (max-width: 799px)
{
    /*En-tête*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 20px 0 20px 60px;
    }

    header ul li a:hover {
        border-bottom: solid 2px #0065FC;
        padding-bottom: 20px;
        color: #0065FC;
    }

    .menu {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    h1 {
        font-size: 1.3em;
    }

    /*Barre de recherche*/
    #recherche button {
        display: none;
    }

    #recherche a{
        height: 36px;
        margin-left: -5px;
        border-radius: 0 10px 10px 0;
    }

    #recherche a i{
        border-radius: 10px;
        background-color: #0065FC;
        color: white;
    }

    #filtres{
        width: 90%;
    }

    /*Logements section + aside*/
    #hebergement {
        display: flex;
        flex-direction: column-reverse;
    }

}

@media screen and (min-width: 800px)

    /*Barre de recherche*/
    #recherche button {
        height: 36px;
        margin-left: -5px;
        border-radius: 0 10px 10px 0;
        background-color: #0065FC;
        color: white;
    }

    #recherche a{
        display: none;
    }

    /*Logements section + aside*/
    #hebergement {
        display: flex;
    }

    /*Logements de la ville*/

/*Mise en page balises génériques*/

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}

a {
    text-decoration: none;
}

section {
    margin: 40px 60px;
}

aside {
    margin: 40px 60px;
}

.paragraphe{
    margin: 0;
}

/*En-tête*/

header ul {
    display: flex;
}

header ul li{
    list-style: none;
    margin-right: 30px;
}

header ul li a{
    color: black;
}

header a {
    font-size: 1em;
}

.menu p a{
    color: #0065FC;
    font-weight: bold;
}

/*Barre de recherche*/

#recherche i {
    padding: 10px;
    background-color: #d4d1d1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#recherche input {
    height: 36px;
    width: 180px;
    margin-left: -4px;
    border: none;
}


/*Filtres*/

#filtres {
    margin-top: 40px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filtresWidth{
    flex-basis: 10% 20% 20% 20% 30%;
}

#filtres p {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.choix {
    display: flex;
    align-items: center;
    margin: 5px 20px;
    height: 35px;
    border: solid 1px grey;
    border-radius: 25px;
}

.choix:hover{
    background-color: #98b6cf;
}

.choix p{
    padding: 0 20px;
}

.choix i {
    padding: 10px;
    color: #0065FC;
    border-radius: 50px;
    background-color: #DEEBFF;
}

.long {
    min-width: 130px;
}

/*Logements section + aside*/

.paragraphe i{
    margin-left: 60px;
    margin-right: 15px;
}

.infoPosition{
    position: absolute;
}

/*Logements de la ville*/

#logementVille{
    background-color: #F2F2F2;
}

#logementVille h2 {
    margin-left: 20px;
}

#logementVille #hotel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    min-height: 736px;
}

#logementVille #hotel .logementHotel{
    flex: 0 1 33.3333%;
    background-color: #fff;
    border-radius: 25px;
    max-width: var(--width-max-image-desc);
}

#logementVille #hotel .logementHotel a{
    padding: 5px;
    display: block;
}
    

#logementVille #hotel .logementHotel .imageHotel{
    max-width: var(--width-max-image-desc);
    height: 172px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

#logementVille #hotel .logementHotel .imageHotel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logementHotel:hover{
    background-color: #98b6cf;
}

.logementHotel h3 {
    margin-left: 20px;
    color: black;
}

.logementHotel p {
    margin-left: 20px;
    color: black;
}

.logementHotel i {
    color: #0065FC;
}

.note {
    padding-left: 10px;
    padding-bottom: 15px;
    margin-left: 10px;
}

#afficherPlus{
    margin-left: 20px;
    font-size: 1em;
    font-weight: bold;
}


/*Logements les plus populaires*/

#populaire h2 {
    margin-left: 20px;
}

#titre{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hotelPop {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logementPop {
    display: flex;
    background-color: #DEEBFF;
    border-radius: 15%;
    width: 80%;
    min-width: 300px;
    height: 180px;
    margin: 10px 0;
}

.logementPop:hover{
    background-color: #98b6cf;
}

.logementPop img {
    width: 30%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    padding: 15px;
}

.logementPop h3 {
    margin-left: 10px;
    color: black;
}

.logementPop p {
    margin-left: 10px;
    color: black;
}

.logementPop i {
    color: #0065FC;
}

/*Liste des activités*/

#activites{
    display: flex;
    width: 100%;
}

.grandeImg{
    border: solid 1px grey;
    border-radius: 20px;
    min-width: 300px;
    width: 300px;
    height: 450px;
}

.grandeImg:hover{
    background-color: #98b6cf;
}

.grandeImg img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

.petit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.petiteImg{
    border: solid 1px grey;
    border-radius: 20px;
    width: 300px;
    height: 205px;
    margin: 0 30px 40px 30px;
}

.petiteImg:hover{
    background-color: #98b6cf;
}

.petiteImg img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 9%;
    border-top-right-radius: 9%;
}

.texteActivites{
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

/*Pied de page*/

#piedPage {
    display: flex;
    justify-content: space-between;
    width: 66%;
    margin: 40px 0 0 60px;
}

.menuPP h2 {
    font-size: 1em;
}

.menuPP P {
    font-size: 0.8em;
}


 :root{
     --width-max-image-desc: 350px;
 }